@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .activeColor,
  .activeSize {
    color: white;
    background-color: rgb(118, 178, 227);
  }
  .disabled {
    color: black;
    background-color: rgb(241, 204, 136);
  }
  .notAvailable {
    color: black;
    background-color: rgb(199, 194, 194);
  }
}
